// Left

.ml-0 {
  margin-left: 5px;
}

.ml-1 {
  margin-left: 10px;
}

// Right

.mr-0 {
  margin-right: 5px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 15px;
}

// Top

.mt-0 {
  margin-top: 5px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 15px;
}

.mt-3 {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 30px;
}

.mt-5 {
  margin-top: 40px;
}

// Bottom

.mb-0 {
  margin-bottom: 5px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 15px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 30px;
}

.mb-5 {
  margin-bottom: 40px;
}
